<div class="container my-5 py-4">
    <div class="row d-xl-flex justify-content-xl-center">
        <div class="col-5 login-clean">
            <form class="pb-3" data-ng-submit="verificationVM.functions.submitVerificationForm()" method="post"
                  id="verificacion-form">
                <h3 class="text-center px-5 pt-5">Verifica tu cuenta</h3>
                <p class="text-center text-info mx-5 my-3">Hemos enviado un código numérico al correo electrónico que
                    has
                    proporcionado. Revisa tu correo e introduce el código de verificación debajo.</p>
                <div class="alert alert-danger mx-5 text-center" data-ng-if="verificationVM.errorMessage.length > 0"
                     role="alert">
                    <p>{{verificationVM.errorMessage}}</p>
                </div>
                <div class="alert alert-success mb-5 mx-5" data-ng-if="verificationVM.accountVerified === 1"
                     role="alert">
                    <p class="text-center"><span class="font-weight-bold">Éxito!</span> Redirigiendo al inicio de sesión
                        ...</p>
                </div>
                <div class="form-group px-5 mb-n1 mt-1">
                    <input aria-label="Nombre de usuario"
                           class="form-control"
                           data-ng-model="verificationVM.username"
                           id="usuario-in"
                           name="usuario"
                           placeholder="Nombre de usuario"
                           required
                           type="text">
                </div>
                <div class="form-group px-5 mt-1">
                    <input aria-label="Código de verificación"
                           class="form-control"
                           data-ng-model="verificationVM.verificationCode"
                           id="verification-code-in"
                           name="code"
                           placeholder="Código de verificación"
                           required
                           type="text"
                           minlength="6"
                           maxlength="6">
                </div>
                <div class="form-group px-5">
                    <button class="btn btn-primary btn-block font-weight-bold" type="submit">CONFIRMAR CUENTA
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>